body, h3, h2, span, p {
    font-family: 'Gotham';
    margin: 0;
}

@font-face {
    font-family: Gotham;
    src: url('gotham/gotham.otf');
}


/* header */

.section-1 {
    height: 724px;
}

#img-logo {
    max-width: 120px;
}

.header.content {
    width: 90%;
    height: 60px;
    z-index: 2;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.5em;
}

.logo {
    width: 70%;
    float: left;
    height: 77px;
}


/* menu */

.menu {
    width: 10%;
    float: right;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-menu {
    padding: 8px 15px 0 0;
    color: #fff;
}

.menu h2 {
    font-size: 12px;
}

.menu table {
    float: right;
}

.menu span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
}


/* video */

body video {
    /* filter: brightness(0.4);*/
    background-size: cover;
}

#video-id {
    position: absolute;
}

.video-id>div {
    filter: brightness(0.6);
}

/*section-2*/

.section-2 .content.section-2 {
    height: 650px;
    display: flex;
    align-items: center;
    padding-left: 3em;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.text-section-2 {
    max-width: 700px;
    padding-left: 4em;
    line-height: 1.7em;
}

.text-section-2 {
    line-height: 1.7em;
}

.text-section-2 p {
    padding-bottom: 1em;
    color: gray;
}

.text-section-2 h2 {
    font-size: 40px;
    line-height: 1.1;
}

.text-section-2 input {
    padding: 12px 39px;
    border-radius: 35px;
    font-size: 18px;
    border: 1px solid transparent;
    background-color: #ffbb36;
    font-family: Gotham;
    font-weight: 600;
}


/**/

.section-3 {
    width: 100%;
    height: 500px;
    background-color: #0B2636;
    color: #fff;
    margin-top: 4em;
}

.it-1 {
    width: 30%;
    padding-left: 7em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    float: left;
}

.it-2 {
    display: flex;
    width: 55%;
    padding-left: 4em;
    float: left;
    justify-content: center;
    align-content: center;
}

.it-2 img {
    align-self: center;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide,
.it-1,
.it-2 {
    height: 100%;
}

.it-titulo {
    font-size: 40px;
    font-weight: bolder;
}

.it-1 p {
    font-size: 21px;
}

.section-4{
    height: 730px;
    margin: 0 4em 2em 7em;
    display: flex;
    align-items: center;
}

.section-5{
    height: 500px;
    background-color: #0B2636;
}

.container-servicos{
    width: 100%;
    margin-top: 75px;
}

.container-servicos span{
    display: flex;
    font-size: 40px;
}

.card-servicos{
    width: 17%;
    height: 330px;
    padding: 1.5em;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.1);
}

.card-servicos img{
    width: 60px;
    margin-bottom: 17px;
}

.card-servicos:hover{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.1);
}

.card-servicos h2{
    font-size: 20px!important;
    line-height: 1.4!important;
    margin-bottom: 15px;
    color: #0b2636;
}

.card-servicos p{
    color: #0b2636;
    line-height: 1.5;
}

.card-servicos a{
    text-decoration: none;
}

.group-servicos{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}

.container-servicos h2{
    line-height: 1.7em;
    font-weight: bolder;
    font-size: 40px;
}

.container-servicos .p-estilo{
    max-width: 566px;
    line-height: 1.7em;
    color: gray;
    font-size: 21px;
}


@media(min-width: 800px) {
    /*titulos banner home */
    .title-home {
        font-size: 32px;
    }
    /* video */
    #video {
        width: 100%;
    }
    .title-home {
        /*filtro preto*/
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 108%;
        color: #fff;
    }
    .title.banner {
        padding: 10% 0 0 4%;
    }
}

@media(max-width: 800px) {
    .title-home h1 {
        display: none;
    }
}
